body {
    margin: 0;
    font-family: "Inter", Arial, sans-serif;
    background: #0a1124;
    color: white;
}

header {
    width: 100%;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0a1124;
}

.logo {
    font-size: 22px;
}

nav a {
    margin-left: 30px;
    color: white;
    text-decoration: none;
}

nav a.active,
nav a:hover {
    color: #d4af37;
}

.hero {
    padding: 150px 40px;
    text-align: center;
}

.section {
    max-width: 900px;
    margin: 90px auto;
    text-align: center;
}

.btn {
    display: inline-block;
    background: #0d1a36;
    padding: 14px 26px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.btn:hover {
    background: #d4af37;
    color: black;
}

.gallery-container {
    max-width: 1000px;
    margin: 60px auto;
}

.card {
    background: white;
    color: black;
    display: flex;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 35px;
}

.card-img {
    width: 350px;
    border-radius: 15px;
}

.card-info {
    margin-left: 30px;
}
